[submodule "microservices/series-info-service"]
	path = microservices/series-info-service
	url = https://github.com/EclipseLunaria/Manga-Reader-Series-Info-Service.git
[submodule "microservices/storage-service"]
	path = microservices/storage-service
	url = https://github.com/EclipseLunaria/Manga-Storage-Service.git
[submodule "microservices/distribution-service"]
	path = microservices/distribution-service
	url = https://github.com/EclipseLunaria/manga-image-distribution-service.git
[submodule "microservices/data-layer-service"]
	path = microservices/data-layer-service
	url = https://github.com/EclipseLunaria/database-service.git
